[Desktop Entry]
Version=1.1
Type=Application
Name=Kalkulator
GenericName=Calculator
Comment=A simple calculator for wofi, inspired by rofi-calc.
Icon=accessories-calculator
TryExec=/home/fedora/scripts/wofi-calc.sh
StartupNotify=true
Exec=/home/fedora/scripts/wofi-calc.sh
Categories=Utility;
Keywords=calculator;calc;kalkulator;math;
